<h1>New service</h1>

<%= form_for( @service, data: {turbo: false}) do |f| %>
    <fieldset class="mb-2">
     <%= f.label :product %>
    <%= f.text_field :product %>
    <%= f.hidden_field :trainer_id, value: @trainer_id %>

    </fieldset>
     <fieldset class="mb-2">
     <%= f.label :description %>
    <%= f.text_field :description %>
    </fieldset>
     <fieldset class="mb-2">
     <%= f.label :location %>
    <%= f.text_field :location %>
    </fieldset> 
    <fieldset>
    <%= f.submit %>
    </fieldset>
<% end %>
