<h1>New trainer</h1>

<%= form_with(model: @service, data: {turbo: false}) do |f| %>
    <fieldset class="mb-2">
     <%= f.label :product %>
    <%= f.text_field :product %>
    </fieldset>
     <fieldset class="mb-2">
     <%= f.label :description %>
    <%= f.text_field :description %>
    </fieldset>
     <fieldset class="mb-2">
     <%= f.label :location %>
    <%= f.text_field :location %>
    </fieldset> 
    <fieldset>
    <%= f.submit %>
    </fieldset>
<% end %>
