<h1>Edit trainer</h1>

<%= form_with(model: @trainer, data: {turbo: false}) do |f| %>
    <fieldset class="mb-2">
     <%= f.label :first_name %>
    <%= f.text_field :first_name %>
    </fieldset>
     <fieldset class="mb-2">
     <%= f.label :last_name %>
    <%= f.text_field :last_name %>
    </fieldset>
     <fieldset class="mb-2">
     <%= f.label :description %>
    <%= f.text_field :description %>
    </fieldset> 
    <fieldset class="mb-2">
    <%= f.label :user_id %>
    <%= f.collection_select :user_id, @user, :id, :email %>
    </fieldset>
    <% if @trainer.cover.attached? %>
    <fieldset class="mb-2">
        <%= cl_image_tag @trainer.cover.key, transformation: ["media_lib_thumb"], cloud_name: 'dyix4wifl' %>
    </fieldset>
  <% end %>
    <fieldset class="mb-2">
    <%= f.label :cover %>
    <%= f.file_field :cover %>
    </fieldset>
    <fieldset>
    <%= f.submit%>
    </fieldset>
<% end %> 
