<a href="/services/new?trainer_id=<%=@trainer.id%>">New Service</a>

<div class="btn-toolbar mt-3">
<%= link_to 'Edit', edit_trainer_path(@trainer), class: "btn btn-warning me-2" %>
<%= button_to 'Delete', @trainer, class: "btn btn-danger", method: :delete, form: { data: { turbo_confirm:  "Are you sure you want to delete '#{@trainer.first_name}' ?" }}  %>

</div>
<h1><%= @trainer.full_name%></h1>
<h3><%= @trainer.description%></h3>

<% if @trainer.cover.attached? %>
<%= cl_image_tag @trainer.cover.key, crop: :scale, width: 150, cloud_name: 'dyix4wifl' %>

<% end %>



<div>
<% @services.each do | service | %>
<%= link_to 'Edit Service',  edit_service_path(service)  , class: "btn btn-warning" %>
<%= button_to 'Delete Service',service_path(service), class: "btn btn-danger", method: :delete, form: { data: { turbo_confirm:  "Are you sure you want to delete  ?" }}  %>
<h1>Service type:<%= service.product%></h1>
<h1>Description:<%= service.description%></h1>
<h1>Location:<%= service.location%></h1>
<h1>Time: <%= service.length%></h1>
<h1>Cost:<%= service.cost%></h1>
<h1>Date:<%= service.date%></h1>

<% end %>
</div>

