<!DOCTYPE html>
<html>
  <head>
    <title>TestAss</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  </head>
   <body>
    <nav class="navbar navbar-expand-md navbar-light bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">Sules Training</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-md-0">
            <li class="nav-item">
              <%= link_to 'Home', root_path, class: 'nav-link' %>
            </li>
            <li class="nav-item">
              <%= link_to 'Trainers', trainers_path, class: 'nav-link' %>
            </li>
          </ul>
        <% if user_signed_in? %>
            <div class="ml-auto btn-toolbar p-3">
              Welcome, <%= current_user.email %>!
            </div>
            <div class="ml-auto btn-toolbar">
              <%= button_to 'Logout', destroy_user_session_path, class: 'btn btn-primary', method: :delete, form: { data: { turbo_confirm: "Are you sure you want to log out? " } } %>
            </div>
          <% else %>
            <div class="ml-auto btn-toolbar p-3">
              <%= link_to 'Sign Up', new_user_registration_path, class: 'btn btn-secondary' %>
            </div>
            <div class="ml-auto btn-toolbar">
              <%= link_to 'Login', new_user_session_path, class: 'btn btn-primary' %>
            </div>
          <% end %>
        </div>
      </div>
    </nav>
    <main class="p-3">
      <% if notice %>
        <p class="alert alert-info notice" role="alert"><%= notice.html_safe %></p>
      <% end %>
      <% if alert %>
        <p class="alert alert-danger" role="alert"><%= alert.html_safe %></p>
      <% end %>
      <%= yield %>
    </main>
  </body>
</html>
